.App{
  display: flex;
  justify-content: center;
  margin-top: 13vh;
  align-items: center;
  background: linear-gradient(30deg,#fea,#baf,#caf);
  height: 80vh;
}

.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin-top: 10px;
}
.drum-pad{
  padding: 20px;
  cursor: pointer;
  background-color: #333333;
  color : #fff ;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  border-radius: 4px;
  transition: all 400ms ease-in-out;
  text-align: start;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Jua', sans-serif;
  text-shadow: 0 3px 4px 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
.drum-pad:hover{
  background-color: #404040;
}
.drum-pad:active{
  transform: scale(1.2) rotate(20deg);
}
.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(30deg,#fea,#baf,#caf);
}